<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>sadgrl.online</title>
    <meta property="twitter:card" content="summary_large_image" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css" />
    <script src="../../assets/scripts/load.js"></script>
    
    
    <link rel="icon" href="../../assets/images/fav.gif" type="image/gif" />
</head>

<body>
    <div id="container">
        <div class="topbar">
            </div>
        <div id="flex">

            <main>
                <div class="title">&nbsp; Layouts</div>
                <div class="content">
                    <p>These layouts are free for anyone to use. You can change things, break things, even remove the credit
                        if
                        you like! I always try to include some :root variables at the top of the stylesheet to make changing
                        colors
                        and images easy. Don't forget to check out my <a href="projects/layout-builder/" target="_blank">layout builder</a> as well!</p>
                    <p>[!R] means not responsive (doesn't look great on phones) and [R] means they are responsive!</p>
                    <section class="original">
                        <h2>Original Layouts <img src="images/pixels/new.gif" alt="new"></h2>
                        <p>These are webpage layouts made by me and free to use and modify in any way! </p>
                        <div class="layouts">
                            <div>
                                <a href="https://codepen.io/sadness97/pen/mdXjExq?editors=1100" target="_blank">
                                    <h3>Skinny 00s [R] </h3>
                                    <img src="https://sadhost.neocities.org/images/layouts/sgreen.png" alt="link to retro layout with two sidebars">
                                </a>
                            </div>
                            <div>
                                <a href="https://codepen.io/sadness97/pen/ZEXKqgM" target="_blank">
                                    <h3>Bulletin Board [R]</h3>
                                    <img src="https://sadhost.neocities.org/images/layouts/bltnbd.png" alt="link to retro layout with two sidebars">
                                </a>
                            </div>
                        </div>
                    </section>
                    <section class="rescued">
                        <h2>Rescued Layouts</h2>
                        <p>These layouts are ones that I <strong>recreated</strong> from old ones found on various websites. The
                            pages themselves link to a preview of the layout, related information, and a link to the original
                            creator,
                            as well as the code!</p>


                        <div class="layouts">
                            <div>
                                <a href="https://codepen.io/sadness97/pen/jOaqGdZ?editors=0100" target="_blank">
                                    <h3>Skyline [R]</h3>
                                    <img src="../../assets/images/lyts/ss/skyline.png" alt="link to retro layout with two sidebars">
                                </a>
                            </div>
                            <div>
                                <a href="https://codepen.io/sadness97/pen/eYeZeLY" target="_blank">
                                    <h3>Meadow [R]</h3>
                                    <img src="../../assets/images/lyts/ss/Meadow.png" alt="link to retro layout with right sidebar">
                            </div>
                            <div>
                                <a href="https://codepen.io/sadness97/pen/jOaWOLo?editors=1100" target="_blank">
                                    <h3>Army of Trolls [R]</h3>
                                    <img src="../../assets/images/lyts/ss/army-of-trolls.png" alt="link to colorful retro layout">
                                </a>
                            </div>

                            <div>
                                <a href="https://codepen.io/sadness97/pen/poWRGmq?editors=1100" target="_blank">
                                    <h3>Kawaii Notebook [!R] </h3>
                                    <a href="https://codepen.io/sadness97/pen/poWRGmq?editors=1100" target="_blank"><img src="../../images/lyts/ss/kawaii-notebook.png" alt="link to retro notebook layout"></a>
                            </div>
                            <div>
                                <a href="https://codepen.io/sadness97/pen/NWadJXJ?editors=1100" target="_blank">
                                    <h3>Let's Frolick [R]</h3>
                                    <img src="../../assets/images/lyts/ss/lets-frolick.png" alt="link to cute and cloudy layout">
                                </a>
                            </div>
                            <div>
                                <a href="https://codepen.io/sadness97/pen/VwzePpB?editors=1100" target="_blank">
                                    <h3>Xanga Classic [R]</h3>
                                    </h3>
                                    <img src="../../assets/images/lyts/ss/xanga.png" alt="link to xanga-inspired layout">
                                </a>
                            </div>
                        </div>
                </div>
            </main>
            <aside>
                <div class="sidebar-title">&nbsp; Navigation</div>
                <nav id="nav">
        
                </nav>
            </aside>
        </div>
        <footer id="footer">This is a footer.</footer>
    </div>
    
    <style>
        .page-content,
        .footer {
            margin-left: 10px !important;
        }

        .layouts img {
            width: 250px;
            height: 150px;
            box-sizing: border-box;
            object-fit: cover;
        }

        .layouts>div {
            margin-right: 20px;
            object-fit: cover;
            height: 150px;
            width: 250px;
            margin-bottom: 80px;
        }

        .layouts {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</body>

</html>
