<ul>
  <li>
    <a href="/archived-sadgrl.online/index.html">Home</a>
  </li>
  <li>
    <a
      href="/archived-sadgrl.online/reading/"
      title="readings that have shaped my worldview"
      >Reading</a
    >
  </li>
  <li>
    <a
      href="/archived-sadgrl.online/archived-sadgrl.online/webmastery/index.html"
      title="resources and help for website creators"
      >Webmastery</a
    >
  </li>
  <ul>
    <li>
      <a href="/archived-sadgrl.online/webmastery/webmaster-links.html"
        >Webmaster links</a
      >
    </li>
    <li>
      <a href="/archived-sadgrl.online/learn/" target="_blank"
        >HTML/CSS guides</a
      >
    </li>
    <li>
      <a href="/archived-sadgrl.online/webmastery/layouts/"
        >Layouts by Sadness</a
      >
    </li>
    <li>
      <a href="/archived-sadgrl.online/webmastery/downloads/tiledbgs.html"
        >Tiled backgrounds</a
      >
    </li>
    <li>
      <a href="/archived-sadgrl.online/webmastery/downloads/fonts"
        >Free fonts</a
      >
    </li>
  </ul>
  <li>
    <a
      href="/archived-sadgrl.online/cyberspace/"
      title="everything related to cyberspace"
      >Cyberspace</a
    >
  </li>
  <ul>
    <li>
      <a href="/archived-sadgrl.online/cyberspace/internet-manifesto.html"
        >Internet manifesto</a
      >
    </li>
    <li>
      <a href="/archived-sadgrl.online/cyberspace/surf-the-web.html"
        >Surf the web</a
      >
    </li>
    <li>
      <a href="/archived-sadgrl.online/cyberspace/archive-the-web.html"
        >Archive the web</a
      >
    </li>
    <li>
      <a href="/archived-sadgrl.online/cyberspace/internet-library.html"
        >Internet library</a
      >
    </li>
    <li>
      <a href="/archived-sadgrl.online/cyberspace/bypass-paywalls.html"
        >Bypass paywalls</a
      >
    </li>
    <li>
      <a href="/archived-sadgrl.online/cyberspace/block-ads.html">Block ads</a>
    </li>
    <li>
      <a href="/archived-sadgrl.online/cyberspace/webrings.html"
        >Webring directory</a
      >
    </li>
  </ul>
  <li>
    <a
      href="/archived-sadgrl.online/shrines/"
      title="webpages dedicated to my favorite things"
      >Shrines</a
    >
  </li>
  <li>
    <a
      href="/archived-sadgrl.online/projects/"
      title="projects I have created and want to share"
      >Projects</a
    >
  </li>
  <ul>
    <li><a href="/archived-sadgrl.online/magnet-poetry/">Magnet poetry</a></li>
    <li>
      <a href="/archived-sadgrl.online/projects/layout-builder/"
        >Layout builder</a
      >
    </li>
    <li>
      <a href="/archived-sadgrl.online/projects/88x31-button-maker"
        >88x31 button maker</a
      >
    </li>
  </ul>

  <li>
    <a
      href="/archived-sadgrl.online/links.html"
      title="a collection of interesting and useful websites."
      >Links</a
    >
  </li>
  <li>
    <a href="/archived-sadgrl.online/about/" title="about the webmistress"
      >About</a
    >
  </li>
  <ul>
    <li><a href="/archived-sadgrl.online/about/archive/">Layout archive</a></li>
  </ul>
  <li><a href="/archived-sadgrl.online/chatbox.html">Chatbox</a></li>
</ul>
